<!--The content below is only a placeholder and can be replaced.-->
<header>
    <nav class="navbar">
        <div class="container">
            <div class="bemvindo">
                Busque vídeos no YouTube!!
            </div>
            <form name="form" class="form-inline" #registerForm="ngForm">
                <input name="pesquisa " [(ngModel)]="pesquisa" class="form-control" type="search" placeholder="Pesquisar" aria-label="Search"> &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" (click)="pesquisar()">Pesquisar </button>
            </form>
        </div>
    </nav>
</header>

<body>
<div>
   
   <mat-card class="listar-videos" *ngFor = "let video of lista_videos">
       <mat-card-header>
           <mat-card-title>
                {{lista_videos.title}}
           </mat-card-title>
       </mat-card-header>

   </mat-card> 
</div>
</body>

<footer>

</footer>